.shopCar_header_midbar{
	background-color: rgba(244,244,238,0.5);
}
.search{
	margin-left: 130px;
}
.searchText{
	border:2px solid #97CBFF;
}
.showCar{
 min-height: 400px;
 margin-left: 15%;
 margin-right: 15%;
}
.showCar_header{
	margin-top: 20px;
	font-size: 15px;
}
.showCar_header a{
	color:blue;
}
.showCar_header a:hover{
	color:red;
	text-decoration: none;
}
.showCar_content_left{
	width:250px;
	
}
.shoppingCar{
	margin-top: 100px;
	margin-left: 50px;
}